<div class="about" id="about">
    <h3 class="general_title">О центре</h3>
    <div class="container-fluid">
        <div class="about-cards cards-slider">

            <div class="col-md-4 col-12">
                <div class="about-cards_item">
                    <div class="about-cards_item__icon">
                        <img src="img/icons/sertificate-icon.svg" alt="">
                    </div>
                    <div class="about-cards_item__title general_green-title">
                        Сертификат об образовании
                    </div>
                    <div class="about-cards_item__description general_description">
                        Мы следим за изменениями рынка труда. Интенсивы Rubius Academy помогают вам быть в тренде, ускорить
                        карьерный рост и получить более оплачиваемую работу.
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-12">
                <div class="about-cards_item ">
                    <div class="about-cards_item__icon">
                        <img src="img/icons/license-icon.svg" alt="">
                    </div>
                    <div class="about-cards_item__title general_green-title">
                        Лицензия Томскобрнадзора
                    </div>
                    <div class="about-cards_item__description general_description">
                        Мы следим за изменениями рынка труда. Интенсивы Rubius Academy помогают вам быть в тренде, ускорить
                        карьерный рост и получить более оплачиваемую работу.
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-12">
                <div class="about-cards_item">
                    <div class="about-cards_item__icon">
                        <img src="img/icons/onlinecard-icon.svg" alt="">
                    </div>
                    <div class="about-cards_item__title general_green-title">
                        Оплата онлайн
                    </div>
                    <div class="about-cards_item__description general_description">
                        Мы следим за изменениями рынка труда. Интенсивы Rubius Academy помогают вам быть в тренде, ускорить
                        карьерный рост и получить более оплачиваемую работу.
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>