<div class="begin-courses">
    <div class="container-fluid">
        <h3 class="general_title">Стартует в этом месяце</h3>
        <div class="begin-courses-cards cards-slider">

            <div class="col-md-4 col-12">
                <div class="begin-courses-cards_item">
                    <div class="begin-courses-cards_item__img">
                        <img src="img/icons/start-course-1.svg" alt="">
                    </div>
                    <div class="begin-courses-cards_item__title general_green-title">Проектирование интерфейсов</div>
                    <div class="begin-courses-cards_item__description general_description">
                        <div class="begin-courses-cards_item__date">8 октября</div>
                        Тенденции и алгоритмы проектирования интерфейсов,
                        прогнозирование UX и юзабилити-оценкаТенденции и алгоритмы проектирования интерфейсов,
                        прогнозирование UX и юзабилити-оценкаТенденции и алгоритмы проектирования интерфейсов,
                        прогнозирование UX и юзабилити-оценка
                    </div>
                    <a href="show-course.html" class="begin-courses-cards_item__more">Подробнее</a>
                </div>
            </div>

            <div class="col-md-4 col-12">
                <div class="begin-courses-cards_item">
                    <div class="begin-courses-cards_item__img">
                        <img src="img/icons/start-course-2.svg" alt="">
                    </div>
                    <div class="begin-courses-cards_item__title general_green-title">Проектирование интерфейсов</div>
                    <div class="begin-courses-cards_item__description general_description">
                        <div class="begin-courses-cards_item__date">8 октября</div>
                        Тенденции и алгоритмы проектирования интерфейсов
                    </div>
                    <a href="show-course.html" class="begin-courses-cards_item__more">Подробнее</a>
                </div>
            </div>

            <div class="col-md-4 col-12">
                <div class="begin-courses-cards_item">
                    <div class="begin-courses-cards_item__img">
                        <img src="img/icons/start-course-3.svg" alt="">
                    </div>
                    <div class="begin-courses-cards_item__title general_green-title">Проектирование интерфейсов</div>
                    <div class="begin-courses-cards_item__description general_description">
                        <div class="begin-courses-cards_item__date">8 октября</div>
                        Тенденции и алгоритмы проектирования интерфейсов,
                        прогнозирование UX и юзабилити-оценка
                    </div>
                    <a href="show-course.html" class="begin-courses-cards_item__more">Подробнее</a>
                </div>
            </div>

        </div>
    </div>
</div>