<div class="main-block">
    <div class="main-block_slider">
        <div class="main-block_slider__img" style="background-image: url('img/main-slider-1.jpg')"></div>
        <div class="main-block_slider__img" style="background-image: url('img/main-slider-1.jpg')"></div>
        <div class="main-block_slider__img" style="background-image: url('img/main-slider-1.jpg')"></div>
    </div>
    <div class="main-block_info main-page">
        <div class="opacity-bg"></div>
        <div class="container-fluid info_container">
            <h1 class="main-block_info__title">Rubius Academy</h1>
            <h2 class="main-block_info__subtitle">Лицензированный образовательный центр</h2>

            <div class="main-block_info__courses">

                <div class="course_widget col-lg-3 col-6">
                    <a href="corporate-english.html">
                        <div class="course_widget__icon" id="block-9729">
                            <img src="img/icons/corp-eng-icon.png" alt="">
                        </div>
                        <div class="course_widget__title">Корпоративный английский</div>
                        <div class="circle" id="9729"></div>
                    </a>
                </div>
                <div class="course_widget col-lg-3 col-6">
                    <a href="chess-club.html">
                        <div class="course_widget__icon" id="block-9730">
                            <img src="img/icons/chess-club-icon.png" alt="">
                        </div>
                        <div class="course_widget__title">Chess Club</div>
                        <div class="circle" id="9730"></div>
                    </a>
                </div>
                <div class="course_widget col-lg-3 col-6">
                    <a href="it-courses.html">
                        <div class="course_widget__icon" id="block-9727">
                            <img src="img/icons/it-courses-icon.png" alt="">
                        </div>
                        <div class="course_widget__title">IT-Курсы</div>
                        <div class="circle" id="9727"></div>
                    </a>
                </div>
                <div class="course_widget col-lg-3 col-6">
                    <a href="childrenenglish.html">
                        <div class="course_widget__icon" id="block-9728">
                            <img src="img/icons/kid-eng-icon.png" alt="">
                        </div>
                        <div class="course_widget__title">Детский английский</div>
                        <div class="circle" id="9728"></div>
                    </a>
                </div>

            </div>
            <button type="button" class="main-block_info__courses-button general_button">Записаться на курс</button>
        </div>
    </div>
</div>