<div class="contacts" id="contacts">
    <div class="container-fluid">
        <h3 class="general_title">Контакты</h3>
        <div class="row contacts_info">
            <div class="col contacts_links">
               <div>
                   <a class="contacts_links__item" href="tel:+7(3822) 97-77-59">+7(3822) 97-77-59</a>
                   <a class="contacts_links__item" href="mailto:academy@rubius.com">academy@rubius.com</a>
                   <span class="contacts_links__item">
                    634045 Томск, <br>
                    ул. Нахимова, 13/1, офис 302
                    </span>
                   <div class="contact-social-block">
                       <div class="contacts_links-social">
                           <div class="title">Для взрослых:</div>
                           <a href="" class="contacts_links-social_item"><span class="icon fb"></span></a>
                           <a href="" class="contacts_links-social_item"><span class="icon vk"></span></a>
                           <a href="" class="contacts_links-social_item"><span class="icon inst"></span></a>
                       </div>
                       <div class="contacts_links-social">
                           <div class="title">Для детей:</div>
                           <a href="" class="contacts_links-social_item"><span class="icon fb"></span></a>
                           <a href="" class="contacts_links-social_item"><span class="icon vk"></span></a>
                           <a href="" class="contacts_links-social_item"><span class="icon inst"></span></a>
                       </div>
                   </div>
               </div>
            </div>
            <div class="contacts_map">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A4843aeaf54fc117ba8c40c8c021e2c222b1b1931dc426944022bd65dfea0a00e&amp;source=constructor" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>