<div class="teacher">
    <h3 class="general_title">Преподаватели курса</h3>
    <div class="container-fluid">
        <div class="teacher-list cards-slider">
            <div class="col-12">
                <div class="teacher-list_person row">
                    <div class="teacher-list_person__photo">
                        <img src="img/teach.jpg" alt="" class="">
                    </div>
                    <div class="col-md col-12">
                        <div class="teacher-list_person__name">Казанцева Людмила Геннадьевна</div>
                        <div class="teacher-list_person__description general_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Aliquid aut fuga illo ipsam libero necessitatibus nobis, odio omnis provident quae quas quia
                            temporibus ut veritatis voluptates? Dolorem fugiat nobis tempora?
                        </div>
                        <div class="teacher-list_person__more">Подробнее</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="teacher-list_person row">
                    <div class="teacher-list_person__photo">
                        <img src="img/teach.jpg" alt="" class="">
                    </div>
                    <div class="col-md col-12">
                        <div class="teacher-list_person__name">Казанцева Людмила Геннадьевна</div>
                        <div class="teacher-list_person__description general_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Aliquid aut fuga illo ipsam libero necessitatibus nobis, odio omnis provident quae quas quia
                            temporibus ut veritatis voluptates? Dolorem fugiat nobis tempora?
                        </div>
                        <div class="teacher-list_person__more">Подробнее</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="teacher-list_person row">
                    <div class="teacher-list_person__photo">
                        <img src="img/teach.jpg" alt="" class="">
                    </div>
                    <div class="col-md col-12">
                        <div class="teacher-list_person__name">Казанцева Людмила Геннадьевна</div>
                        <div class="teacher-list_person__description general_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Aliquid aut fuga illo ipsam libero necessitatibus nobis, odio omnis provident quae quas quia
                            temporibus ut veritatis voluptates? Dolorem fugiat nobis tempora?
                        </div>
                        <div class="teacher-list_person__more">Подробнее</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="teacher-list_person row">
                    <div class="teacher-list_person__photo">
                        <img src="img/teach.jpg" alt="" class="">
                    </div>
                    <div class="col-md col-12">
                        <div class="teacher-list_person__name">Казанцева Людмила Геннадьевна</div>
                        <div class="teacher-list_person__description general_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Aliquid aut fuga illo ipsam libero necessitatibus nobis, odio omnis provident quae quas quia
                            temporibus ut veritatis voluptates? Dolorem fugiat nobis tempora?
                        </div>
                        <div class="teacher-list_person__more">Подробнее</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>