<div class="english-teacher">
    <h3 class="general_title">Преподаватели курса</h3>
    <div class="container-fluid">
        <div class="english-teacher_cards cards-slider">
            <div class="col-md-3">
                <div class="english-teacher_cards_item">
                    <div class="english-teacher_cards_item__photo">
                        <img src="img/teach.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="english-teacher_cards_item__name">Казанцева Людмила Геннадьевна</div>
                    <a href="" class="english-teacher_cards_item__more">подробнее</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="english-teacher_cards_item">
                    <div class="english-teacher_cards_item__photo">
                        <img src="img/teach.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="english-teacher_cards_item__name">Казанцева Людмила Геннадьевна</div>
                    <a href="" class="english-teacher_cards_item__more">подробнее</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="english-teacher_cards_item">
                    <div class="english-teacher_cards_item__photo">
                        <img src="img/teach.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="english-teacher_cards_item__name">Казанцева Людмила Геннадьевна</div>
                    <a href="" class="english-teacher_cards_item__more">подробнее</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="english-teacher_cards_item">
                    <div class="english-teacher_cards_item__photo">
                        <img src="img/teach.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="english-teacher_cards_item__name">Казанцева Людмила Геннадьевна</div>
                    <a href="" class="english-teacher_cards_item__more">подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>