<div class="course-description">
    <div class="course-description_blocks cards-slider">

        <div class="col-lg-3 col-md-6">
            <div class="course-description_blocks_item">
                <div class="course-description_blocks_item__icon">
                    <img src="img/icons/chess-club-icon.png" alt="">
                </div>
                <div>
                    <div class="course-description_blocks_item__title course-card_title">3 - 6 лет</div>
                    <div class="course-description_blocks_item__description course-card_description">инструментов. Весь материал, который нам
                        давали на курсах, я применяю в работе. После завершения курса на итоговой презентации перед
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="course-description_blocks_item">
                <div class="course-description_blocks_item__icon">
                    <img src="" alt="">
                </div>
                <div>
                    <div class="course-description_blocks_item__title course-card_title">3 - 6 лет</div>
                    <div class="course-description_blocks_item__description course-card_description">инструментов. Весь материал, который нам
                        давали на курсах, я применяю в работе. После завершения курса на итоговой презентации перед
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="course-description_blocks_item">
                <div class="course-description_blocks_item__icon">
                    <img src="" alt="">
                </div>
                <div>
                    <div class="course-description_blocks_item__title course-card_title">3 - 6 лет</div>
                    <div class="course-description_blocks_item__description course-card_description">инструментов. Весь материал, который нам
                        давали на курсах, я применяю в работе. После завершения курса на итоговой презентации перед
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="course-description_blocks_item">
                <div class="course-description_blocks_item__icon">
                    <img src="" alt="">
                </div>
                <div>
                    <div class="course-description_blocks_item__title course-card_title">3 - 6 лет</div>
                    <div class="course-description_blocks_item__description course-card_description">инструментов. Весь материал, который нам
                        давали на курсах, я применяю в работе. После завершения курса на итоговой презентации перед
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>