<div class="col-12">
    <div class="to-top row justify-content-center">
        <div class="to-top_arrow">
            <img src="img/icons/button-back.svg" alt="Наверх">
        </div>
    </div>
</div>
<div class="footer">
    <div class="container-fluid">
        <div class="footer_menu">
            <a class="footer_menu__item " href="about-page.html">О центре</a>
            <a class="footer_menu__item" href="corporate-english.html">Корпоративный английский</a>
            <a class="footer_menu__item" href="chess-club.html">Chess club</a>
            <a class="footer_menu__item" href="it-courses.html">IT-Курсы</a>
            <a class="footer_menu__item" href="childrenenglish.html">Детский английский</a>
            <a class="footer_menu__item" href="index.html#contacts">Контакты</a>
            <a class="footer_menu__item" href="tel:+7(3822) 97-77-59">+7(3822) 97-77-59</a>
        </div>
        <div class="footer_doc">
            <a href="">Соглашение об обработке персональных данных </a> <span class="separator">/</span>
            <a href="">Политика конфиденциальности </a>
        </div>
        <div class="footer_dev">
            Developed by  <a href="" ></a>
        </div>
    </div>
</div>