<div class="header">
    <div class="header_menu__mobile col-12">
        <a class="header_menu__item" href="about-page.html">О центре</a>
        <a class="header_menu__item" href="corporate-english.html">Корпоративный английский</a>
        <a class="header_menu__item" href="chess-club.html">Chess club</a>
        <a class="header_menu__item" href="it-courses.html">IT-Курсы</a>
        <a class="header_menu__item" href="childrenenglish.html">Детский английский</a>
        <a class="header_menu__item" href="#contacts">Контакты</a>
    </div>
    <div class="container-fluid header_container">
        <div class="col-12">
            <div class="row">
                <div class="col header_left">
                    <div class="row align-items-center justify-content-lg-start justify-content-between">
                        <div class="header_logo">
                            <a href="index.html"> <img src="img/logo.svg" alt="logo"></a>
                        </div>
                        <div class="header_menu">
                            <a class="header_menu__item active" href="about-page.html">О центре</a>
                            <a class="header_menu__item" href="corporate-english.html">Корпоративный английский</a>
                            <a class="header_menu__item" href="chess-club.html">Chess club</a>
                            <a class="header_menu__item" href="it-courses.html">IT-Курсы</a>
                            <a class="header_menu__item" href="childrenenglish.html">Детский английский</a>
                            <a class="header_menu__item" href="index.html#contacts">Контакты</a>
                        </div>

                        <button type="button" class="header_button">
                            <span class="line before"></span>
                            <span class="line middle"></span>
                            <span class="line after"></span>
                        </button>
                    </div>
                </div>
                <div class="header_contacts">
                    <div class="row">
                        <a class="header_contacts__item" href="tel:+7(3822) 97-77-59">+7(3822) 97-77-59</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header_padding"></div> <!-- блок чтобы не добавлять везде паддинги сверху -->
