<script type="text/javascript" src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../../bower_components/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../bower_components/slick-carousel/slick/slick.min.js"></script>
<script type="text/javascript" src="../../bower_components/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.5.9/lottie.min.js" type="text/javascript"></script>

<script type="text/javascript" src="js/main.min.js"></script>



<script type="text/javascript">
    var config = {
    }
</script>
