<div class="partners">
    <h3 class="general_title">Наши клиенты</h3>
    <div class="container-fluid">
       <div class="partners_carousel">
           <div class="col-lg-3 col-md-4 col-12">
               <div class="partners_logo">
                   <img src="img/logo7.png" alt="logo" class="img-fluid">
               </div>
           </div>
           <div class="col-lg-3 col-md-4 col-12">
               <div class="partners_logo">
                   <img src="img/logo7.png" alt="logo" class="img-fluid">
               </div>
           </div>
           <div class="col-lg-3 col-md-4 col-12">
               <div class="partners_logo">
                   <img src="img/logo7.png" alt="logo" class="img-fluid">
               </div>
           </div>
           <div class="col-lg-3 col-md-4 col-12">
               <div class="partners_logo">
                   <img src="img/logo7.png" alt="logo" class="img-fluid">
               </div>
           </div>

           <div class="col-lg-3 col-md-4 col-12">
               <div class="partners_logo">
                   <img src="img/logo7.png" alt="logo" class="img-fluid">
               </div>
           </div>
           <div class="col-lg-3 col-md-4 col-12">
               <div class="partners_logo">
                   <img src="img/logo7.png" alt="logo" class="img-fluid">
               </div>
           </div>
           <div class="col-lg-3 col-md-4 col-12">
               <div class="partners_logo">
                   <img src="img/logo7.png" alt="logo" class="img-fluid">
               </div>
           </div>
           <div class="col-lg-3 col-md-4 col-12">
               <div class="partners_logo">
                   <img src="" alt="logo" class="img-fluid">
               </div>
           </div>

           <div class="col-lg-3 col-md-4 col-12">
               <div class="partners_logo">
                   <img src="" alt="logo" class="img-fluid">
               </div>
           </div>
           <div class="col-lg-3 col-md-4 col-12">
               <div class="partners_logo">
                   <img src="" alt="logo" class="img-fluid">
               </div>
           </div>
           <div class="col-lg-3 col-md-4 col-12">
               <div class="partners_logo">
                   <img src="" alt="logo" class="img-fluid">
               </div>
           </div>
           <div class="col-lg-3 col-md-4 col-12">
               <div class="partners_logo">
                   <img src="" alt="logo" class="img-fluid">
               </div>
           </div>

           <div class="col-lg-3 col-md-4 col-12">
               <div class="partners_logo">
                   <img src="" alt="logo" class="img-fluid">
               </div>
           </div>
           <div class="col-lg-3 col-md-4 col-12">
               <div class="partners_logo">
                   <img src="" alt="logo" class="img-fluid">
               </div>
           </div>
           <div class="col-lg-3 col-md-4 col-12">
               <div class="partners_logo">
                   <img src="" alt="logo" class="img-fluid">
               </div>
           </div>
           <div class="col-lg-3 col-md-4 col-12">
               <div class="partners_logo">
                   <img src="" alt="logo" class="img-fluid">
               </div>
           </div>
       </div>
    </div>
</div>