<div class="reviews">
    <h3 class="general_title">Отзывы</h3>
    <div class="reviews-carousel">

        <div class="">
            <div class="reviews-carousel_item">
                <div class="reviews-carousel_item_people">
                    <div class="reviews-carousel_item_people__photo">
                        <img src="img/review-phot.jpg" alt="">
                    </div>
                    <div class="col pr-0">
                        <div class="reviews-carousel_item_people__name">Ольга бугаева</div>
                        <div class="reviews-carousel_item_people__position">QA-Инженер, Rubius</div>
                    </div>
                </div>
                <div class="reviews-carousel_item_text general_description">
                    Минимум теории и общих слов, максимум практики и конкретных инструментов. Весь материал, который
                    нам давали на курсах, я применяю в работе.
                    <div class="reviews-carousel_item_course">КУРС: Тестирование ПО</div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="reviews-carousel_item">
                <div class="reviews-carousel_item_people">
                    <div class="reviews-carousel_item_people__photo">
                        <img src="img/review-phot.jpg" alt="">
                    </div>
                    <div class="col pr-0">
                        <div class="reviews-carousel_item_people__name">Ольга бугаева</div>
                        <div class="reviews-carousel_item_people__position">QA-Инженер, Rubius</div>
                    </div>
                </div>
                <div class="reviews-carousel_item_text general_description">
                    Минимум теории и общих слов, максимум практики и конкретных инструментов. Весь материал, который
                    нам давали на курсах, я применяю в работе.
                    <div class="reviews-carousel_item_course">КУРС: Тестирование ПО</div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="reviews-carousel_item">
                <div class="reviews-carousel_item_people">
                    <div class="reviews-carousel_item_people__photo">
                        <img src="img/review-phot.jpg" alt="">
                    </div>
                    <div class="col pr-0">
                        <div class="reviews-carousel_item_people__name">Ольга бугаева</div>
                        <div class="reviews-carousel_item_people__position">QA-Инженер, Rubius</div>
                    </div>
                </div>
                <div class="reviews-carousel_item_text general_description">
                    Минимум теории и общих слов, максимум практики и конкретных инструментов. Весь материал, который
                    нам давали на курсах, я применяю в работе.
                    <div class="reviews-carousel_item_course">КУРС: Тестирование ПО</div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="reviews-carousel_item">
                <div class="reviews-carousel_item_people">
                    <div class="reviews-carousel_item_people__photo">
                        <img src="img/review-phot.jpg" alt="">
                    </div>
                    <div class="col pr-0">
                        <div class="reviews-carousel_item_people__name">Ольга бугаева</div>
                        <div class="reviews-carousel_item_people__position">QA-Инженер, Rubius</div>
                    </div>
                </div>
                <div class="reviews-carousel_item_text general_description">
                    Минимум теории и общих слов, максимум практики и конкретных инструментов. Весь материал, который
                    нам давали на курсах, я применяю в работе.
                    <div class="reviews-carousel_item_course">КУРС: Тестирование ПО</div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="reviews-carousel_item">
                <div class="reviews-carousel_item_people">
                    <div class="reviews-carousel_item_people__photo">
                        <img src="img/review-phot.jpg" alt="">
                    </div>
                    <div class="col pr-0">
                        <div class="reviews-carousel_item_people__name">Ольга бугаева</div>
                        <div class="reviews-carousel_item_people__position">QA-Инженер, Rubius</div>
                    </div>
                </div>
                <div class="reviews-carousel_item_text general_description">
                    Минимум теории и общих слов, максимум практики и конкретных инструментов. Весь материал, который
                    нам давали на курсах, я применяю в работе.
                    <div class="reviews-carousel_item_course">КУРС: Тестирование ПО</div>
                </div>
            </div>
        </div>


    </div>
</div>