<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap&subset=cyrillic" rel="stylesheet">

<link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../../bower_components/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet">
<link rel="stylesheet" href="../../bower_components/slick-carousel/slick/slick.css">
<link rel="stylesheet" href="../../bower_components/slick-carousel/slick/slick-theme.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

<link href="css/main.min.css" rel="stylesheet">

<link rel="stylesheet" href="css/styles.css">
