<div class="youstudy">
    <h3 class="general_title">Вы научитесь</h3>
    <div class="container-fluid">
        <div class="youstudy_blocks cards-slider">
            <div class="col-md-3">
                <div class="youstudy_item">
                    <div class="youstudy_item__icon">
                        <img src="" alt="">
                    </div>
                    <div class="youstudy_item__description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eligendi expedita harum illo ipsa
                        perferendis quidem rem! Architecto beatae consequuntur exercitationem, fuga illo, natus
                        perspiciatis, quaerat reiciendis tempore unde voluptate!
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="youstudy_item">
                    <div class="youstudy_item__icon">
                        <img src="img/icons/chess-club-icon.png" alt="">
                    </div>
                    <div class="youstudy_item__description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eligendi expedita harum illo ipsa
                        perferendis quidem rem! Architecto beatae consequuntur exercitationem, fuga illo, natus
                        perspiciatis, quaerat reiciendis tempore unde voluptate!
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="youstudy_item">
                    <div class="youstudy_item__icon">
                        <img src="img/teach.jpg" alt="">
                    </div>
                    <div class="youstudy_item__description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eligendi expedita harum illo ipsa
                        perferendis quidem rem! Architecto beatae consequuntur exercitationem, fuga illo, natus
                        perspiciatis, quaerat reiciendis tempore unde voluptate!
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="youstudy_item">
                    <div class="youstudy_item__icon">
                        <img src="" alt="">
                    </div>
                    <div class="youstudy_item__description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eligendi expedita harum illo ipsa
                        perferendis quidem rem! Architecto beatae consequuntur exercitationem, fuga illo, natus
                        perspiciatis, quaerat reiciendis tempore unde voluptate!
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row justify-content-center">
                <a href="" target="_blank" class="general_button youstudy_button">Скачать программу курса</a>
            </div>
        </div>
    </div>
</div>