@grey: #4F4F50;
@red: #A41415;
@green: #288348;
button, a {
  outline: 0;
  &:active, &:focus, &:hover {
    outline: 0;
  }
}
.container-fluid {
  max-width: 1320px;
  @media (max-width: 1400px) {
    max-width: 1100px;
  }
  @media (max-width: 1200px) {
    max-width: 922px;
  }
  @media (max-width: 1000px) {
    max-width: 900px;
  }
  @media (max-width: 991px) {
    max-width: 630px;
  }
  @media (max-width: 767px) {

  }
}
.cards-slider, .reviews-carousel, .partners_carousel {
  .slick-dots {
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -50px;
    & > li {
      width: 11px;
      height: 11px;
      & > button {
        width: 11px;
        height: 11px;
        margin: 0 8px;
        &:before {
          content: '';
          display: block;
          width: 11px;
          height: 11px;
          font-size: 11px;
          line-height: 11px;
          color: #C4C4C4;
          background: #c4c4c4;
          opacity: 1;
          border-radius: 0;
        }
      }
      &.slick-active {
        & > button {
          &:before {
            background: @red;
            color: @red;
          }
        }
      }
    }
    @media (max-width: 767px) {
      bottom: -67px;
      & > li {
        & > button {
          width: 10px;
          height: 10px;
          margin: 0 4px;
          &:before {
            content: '';
            width: 10px;
            height: 10px;
          }
        }
        &.slick-active {
          opacity: 1;
        }
      }
    }
  }
}

.side-bar-content-images {
  .slick-dotted.slick-slider {
    margin-bottom: 30px
  }

  .slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%
  }

  .slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0
  }

  .slick-dots li, .slick-dots li button {
    height: 20px;
    width: 20px;
    cursor: pointer
  }

  .slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px
  }

  .slick-dots li button:focus, .slick-dots li button:hover {
    outline: none
  }

  .slick-dots li button:focus:before, .slick-dots li button:hover:before {
    opacity: 1
  }

  .slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: #000;
    opacity: .25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
  }

  .slick-dots li.slick-active button:before {
    color: #000;
    opacity: .75
  }
}
.popup--photo {
  .slick-next, .slick-prev {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    color: transparent;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 3px;
    transition: 0.5s;
    &:hover {
      background: @green;
      &:before {
        opacity: 1;
        border-top: 2px solid #4f4f50;
        border-left: 2px solid #4f4f50;
      }
    }
  }

  .slick-next.slick-disabled:before, .slick-prev.slick-disabled:before {
    opacity: .25
  }

  .slick-next:before, .slick-prev:before {
    font-size: 20px;
    line-height: 1;
    color: #fff;
    opacity: .75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
  }

  .slick-prev:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid rgba(79,79,80,.3);
    border-left: 2px solid rgba(79,79,80,.3);
    -webkit-transform: translateX(2px) rotate(-45deg);
    -ms-transform: translateX(2px) rotate(-45deg);
    transform: translateX(2px) rotate(-45deg);
  }


  .slick-next {
    right: -25px
  }

  .slick-next:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid rgba(79,79,80,.3);
    border-left: 2px solid rgba(79,79,80,.3);
    -webkit-transform: translateX(-2px) rotate(135deg);
    -ms-transform: translateX(-2px) rotate(135deg);
    transform: translateX(-2px) rotate(135deg);
  }
}

.header,
.footer {
  font-family: 'Roboto', sans-serif;
}
.main-block,
.about,
.begin-courses,
.reviews,
.english-teacher,
.course-description,
.teacher,
.chess-club-page,
.course-page,
.it-page,
.it-courses-cards,
.youstudy,
.show-course-page,
.contacts {
  font-family: 'Open Sans', sans-serif;
}
.slick-list {
  margin: 0 auto;
}
.general {
  &_title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: @red;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    @media (max-width: 1600px) {
      font-size: 30px;
      line-height: 35px;
    }
    @media (max-width: 767px) {
      font-size: 28px;
      line-height: 33px;
    }
  }
  &_green-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    color: @green;
    @media (max-width: 1600px) {
      font-size: 16px;
      line-height: 19px;
    }
    @media (max-width: 991px) {
      font-size: 14px;
    }
  }
  &_description {
    font-family: 'Open Sans', sans-serif;
    color: @grey;
    font-size: 14px;
    line-height: 181.68%;
    @media (max-width: 1600px) {
      font-size: 12px;
    }
  }

  &_arrow {
    background-color: #FFFFFF;
    border-radius: 2px;
    width: 47px;
    height: 47px;
    border: none;
    transition: 0.3s;
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    z-index: 50;
    padding: 0;
    .arrow {
      display: block;
      width: 100%;
      height: 100%;
      background-image: url("../img/icons/slider-arrow.png");
      background-repeat: no-repeat;
      background-size: 16px auto;
      background-position: 13px center;
    }
    &:hover {
      background: @green;
      .arrow {
        filter: brightness(0) invert(100%);
      }
    }
    &.arrow_prev {
      transform: rotate(180deg);
      left: -75px;
      @media (max-width:1400px) {
        left: -41px;
      }
    }
    &.arrow_next {
      right: -75px;
      @media (max-width:1400px) {
        right: -41px;
      }
    }
  }

  &_button {
    font-family: 'Open Sans', sans-serif;
    border: none;
    background: @green;
    border-radius: 4px;
    width: 240px!important;
    height: 46px!important;
    color: #fff;
    font-weight: 600!important;
    font-size: 20px!important;
    @media (max-width: 767px) {
      font-size: 12px!important;
      width: 146px!important;
      height: 36px!important;
    }
    &.courses-btn {
      margin-top: 98px;
      @media (max-width: 767px) {
        margin-top: 53px;
      }
    }
  }
}

.course-card {
  &_title {
    font-weight: 600;
    font-size: 16px;
    line-height: 181.68%;
    color: @green;
    margin-top: 13px;
    margin-bottom: 20px;
    @media (max-width: 1400px) {
      font-size: 14px;
      line-height: 181.68%;
      margin-top: 9px;
      margin-bottom: 9px;
    }
    @media (max-width: 767px) {
      margin-top: 25px;
      margin-bottom: 0;
    }
  }
  &_description {
    font-size: 14px;
    line-height: 124.68%;
    color: @grey;
    @media (max-width: 1600px) {
      font-size: 15px;
    }
    @media (max-width: 1400px) {
      font-size: 14px;
      line-height: 124.68%;
    }
    @media (max-width: 991px) {
      font-size: 12px;
      line-height: 124.68%;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
}
.side-bar-content-accordion__title {
  background: url("../img/icons/arrow-down.png") no-repeat right center;
}
.side-bar-content-accordion__title--active {
  background: url("../img/icons/button-back.svg") no-repeat right center;
}
@import 'parts/header.less';
@import 'parts/block-main.less';
@import 'parts/about.less';
@import 'parts/begin-courses.less';
@import 'parts/reviews.less';
@import 'parts/partners.less';
@import 'parts/contacts.less';
@import 'parts/footer.less';
@import 'parts/english-course-description.less';
@import 'parts/children-page.less';
@import 'parts/course-page.less';
@import 'parts/chess-club.less';
@import 'parts/teachers.less';
@import 'parts/it-page.less';
@import 'parts/youstudy.less';
@import 'parts/show-course.less';
