
.main-screen__cta-button {
    width: 270px;
    height: 50px;
    background: #288348;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: .1em;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin: 0
}

.main-screen__cta-button, .main-screen__cta-button:hover {
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s
}

.main-screen__cta-button:hover {
    -webkit-box-shadow: 0 11px 50px -12px #288348;
    box-shadow: 0 11px 50px -12px #288348;
    cursor: pointer
}

@media (max-width: 767px) and (min-width: 0px) {
    .main-screen__cta-button {
        margin-bottom: 42px
    }
}

.container-about {
    width: 1281px;
    margin: 0 auto
}

@media (max-width: 1600px) and (min-width: 1280px) {
    .container-about {
        width: 1110px !important
    }
}

@media (max-width: 1279px) and (min-width: 1024px) {
    .container-about {
        width: 940px !important
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .container-about {
        width: 700px !important
    }
}

@media (max-width: 767px) and (min-width: 0px) {
    .container-about {
        width: 300px !important
    }
}

.about__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 54px !important;
    font-size: 36px !important;
    border: none !important;
    text-align: center;
    margin: 60px 0 0 !important;
    color: #a41415 !important;
    padding-bottom: 5px;
}

@media (max-width: 1024px) and (min-width: 769px) {
    .about__title {
        font-size: 24px
    }
}

@media (min-width: 0) and (max-width: 767px) {
    .about__title {
        font-size: 24px
    }
}

.about__description {
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
    width: 840px;
    color: #4f4f50;
    margin: 15px auto 65px
}

@media (max-width: 1023px) and (min-width: 768px) {
    .about__description {
        width: 100%
    }
}

@media (max-width: 767px) and (min-width: 0px) {
    .about__description {
        width: 100%
    }
}

.popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    top: 0;
    overflow: auto;
    z-index: 1000;
    padding: 40px 20px 20px
}

@media (min-width: 0) and (max-width: 767px) {
    .popup {
        padding: 90px 10px 70px;
        left: 3px;
        right: 3px
    }
}

.popup__overlay {
    position: fixed;
    z-index: 999;
    top: -70px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #242424;
    opacity: .95;
    padding-bottom: 70px;
    -webkit-transform: translateY(70px);
    -ms-transform: translateY(70px);
    transform: translateY(70px);
    cursor: pointer
}

.popup__content {
    width: 100%;
    max-width: 600px;
    padding: 50px 65px;
    position: relative;
    margin: auto;
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    border-radius: 4px;
    z-index: 999999
}

@media (min-width: 0) and (max-width: 767px) {
    .popup__content {
        padding: 35px 32px 25px
    }
}

.popup__close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -30px;
    right: 20px
}

@media (min-width: 0) and (max-width: 767px) {
    .popup__close {
        width: 20px;
        height: 20px;
        position: absolute;
        top: -30px;
        right: 20px
    }
}

.popup__close:after, .popup__close:before {
    position: absolute;
    left: unset;
    right: -40px;
    content: " ";
    height: 20px;
    width: 2px;
    background-color: #fff
}

@media (min-width: 0) and (max-width: 767px) {
    .popup__close:after, .popup__close:before {
        position: fixed;
        left: unset;
        right: 20px;
        content: " ";
        height: 20px;
        width: 2px;
        background-color: #fff
    }
}

.popup__close:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.popup__close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.popup__title {
    margin-bottom: 30px;
    font-weight: 600;
    line-height: 36px;
    font-size: 24px;
    color: #288348;
    text-align: center
}

.popup-control__title {
    line-height: 25px;
    font-size: 14px;
    color: #4f4f50
}

.popup-form {
    margin: 0
}

.popup-form--hidden {
    display: none
}

.popup-form__row {
    margin-bottom: 14px
}

.popup-form__row--children {
    display: none
}

.popup-form__label {
    line-height: 25px;
    font-size: 14px;
    color: #4f4f50
}

.popup-form__input {
    width: 100%;
    height: 30px;
    display: block;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    color: rgba(79, 79, 80, .5);
    border: none;
    border-bottom: 1px solid rgba(79, 79, 80, .7)
}

.popup-form__input::-webkit-input-placeholder {
    font-family: Open Sans;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    color: #4f4f50;
    opacity: .5
}

.popup-form__input::-webkit-input-placeholder, .popup-form__input::placeholder {
    font-family: Open Sans;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    color: #4f4f50;
    opacity: .5
}

.popup-form__note {
    padding-top: 3px;
    line-height: 21px;
    font-size: 12px;
    color: #4f4f50;
    opacity: .7
}

.popup-form__note--error {
    color: #a41415
}

.popup-form__text {
    margin-bottom: 10px;
    line-height: 21px;
    font-size: 12px;
    color: #4f4f50;
    opacity: .7
}

.popup-form__submit {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background: #288348;
    border: none;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: Roboto;
    font-weight: 700;
    line-height: 21px;
    font-size: 16px;
    text-align: center;
    letter-spacing: .1em;
    color: #fff
}

.popup-form__submit--disabled {
    background: #f5f5f5;
    color: rgba(79, 79, 80, .5);
    font-weight: 600;
    cursor: not-allowed
}

.popup-form-lesson-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px
}

.popup-form-lesson-type--hidden {
    display: none
}

@media (min-width: 0) and (max-width: 767px) {
    .popup-form-lesson-type {
        display: block;
        margin-bottom: 15px
    }
}

.popup-form-lesson-type__item {
    position: relative;
    margin-right: 50px
}

@media (min-width: 0) and (max-width: 767px) {
    .popup-form-lesson-type__item {
        margin-right: 0;
        margin-bottom: 12px
    }
}

.popup-form-lesson-type__item:last-child {
    margin-right: 0;
    margin-bottom: 0
}

.popup-form-lesson-type__radio {
    display: none
}

.popup-form-lesson-type__radio:checked + .popup-form-lesson-type__text:before {
    background: url(../img/subtract.svg) 50% no-repeat
}

.popup-form-lesson-type__radio:checked + .popup-form-lesson-type__text:after {
    content: "";
    width: 24px;
    height: 18px;
    position: absolute;
    top: 2px;
    left: 1px;
    background: url(../img/check-mark.svg) 50% no-repeat
}

.popup-form-lesson-type__text {
    padding-left: 30px;
    line-height: 25px;
    font-size: 14px;
    color: #4f4f50;
    position: relative;
    display: block;
    cursor: pointer
}

.popup-form-lesson-type__text:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 0;
    background: url(../img/rectangle.svg) 50% no-repeat;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s
}

.popup-form__multiple {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.popup-form__multiple--hidden {
    display: none
}

@media (min-width: 0) and (max-width: 767px) {
    .popup-form__multiple {
        display: block
    }
}

.popup-form__multiple .popup-form__row {
    width: 225px;
    margin-right: 35px
}

@media (min-width: 0) and (max-width: 767px) {
    .popup-form__multiple .popup-form__row {
        width: 100%;
        margin-right: 0
    }
}

.popup-form__multiple .popup-form-lesson-type {
    display: block
}

.popup-form__multiple .popup-form-lesson-type__item {
    margin-right: 0;
    margin-bottom: 10px
}

.popup-form__multiple .popup-form-lesson-type__item:last-child {
    margin-bottom: 0
}

.popup-agreement {
    text-align: center;
    position: relative
}

.popup-agreement__checkbox {
    width: 20px;
    height: 20px;
    display: none
}

.popup-agreement__checkbox:checked ~ .popup-agreement__text:before {
    background: url(../img/subtract.svg) 50% no-repeat
}

.popup-agreement__checkbox:checked ~ .popup-agreement__text:after {
    content: "";
    width: 24px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 1px;
    background: url(../img/check-mark.svg) 50% no-repeat
}

.popup-agreement__text {
    padding-left: 28px;
    line-height: 23px;
    font-size: 14px;
    text-align: center;
    color: rgba(65, 65, 65, .6);
    position: relative;
    cursor: pointer
}

.popup-agreement__text:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/rectangle.svg) 50% no-repeat;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

.popup-agreement__error {
    color: #a41415;
    font-size: 12px;
    line-height: 21px;
    opacity: .7
}

.popup-select {
    width: 100%;
    margin-bottom: 32px;
    position: relative
}

@media (min-width: 0) and (max-width: 767px) {
    .popup-select {
        margin-bottom: 25px
    }
}

.popup-select--opened .popup-select-options {
    display: block !important
}

.popup-select--opened .popup-select-label {
    border: none
}

.popup-select--opened .popup-select-label__arrow {
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
    top: 0
}

.popup-select__input {
    display: none
}

.popup-select-label {
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    color: #4f4f50;
    background: #fff;
    width: 100%;
    height: 30px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid rgba(79, 79, 80, .7)
}

.popup-select-label--empty {
    color: rgba(79, 79, 80, .5)
}

.popup-select-label__arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 5px
}

.popup-select-label__arrow:after {
    content: "";
    position: absolute;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    left: 4px;
    top: -2px;
    width: 10px;
    height: 10px;
    border-radius: 1px;
    border-left: 2px solid rgba(79, 79, 80, .7);
    border-bottom: 2px solid rgba(79, 79, 80, .7);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.popup-select-options {
    display: none !important;
    position: absolute !important;
    top: 100%;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid rgba(79, 79, 80, .3);
    border-top: none;
    z-index: 100;
    max-height: 158px;
    overflow: auto
}

.popup-select-options .scrollbar-track.scrollbar-track-y {
    width: 10px;
    background: #fff
}

.popup-select-options .scrollbar-thumb.scrollbar-thumb-y {
    width: 2px;
    left: 4px;
    background: rgba(79, 79, 80, .7)
}

.popup-select-option {
    line-height: 25px;
    font-size: 14px;
    color: #4f4f50;
    width: 100%;
    position: relative;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 20px;
    cursor: pointer;
    background: #fff;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

.popup-select-option:nth-child(2n) {
    background: #f5f5f5
}

.popup-select-option--selected, .popup-select-option:hover {
    color: #288348
}

.tabs-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 1280px;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #666;
}

@media (min-width: 1280px) and (max-width: 1919px) {
    .tabs-block {
        width: 1110px
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .tabs-block {
        width: 940px
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .tabs-block {
        width: 700px
    }
}

@media (min-width: 0) and (max-width: 767px) {
    .tabs-block {
        width: 300px;
        display: block
    }
}

.side-bar {
    font-family: Open Sans;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    padding: 25px 30px;
    width: 330px;
    margin-bottom: auto;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

@media (min-width: 1280px) and (max-width: 1919px) {
    .side-bar {
        padding: 25px
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .side-bar {
        padding: 25px
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .side-bar {
        padding: 25px;
        width: 240px
    }
}

@media (min-width: 0) and (max-width: 767px) {
    .side-bar {
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 15px
    }
}

.side-bar-list {
    margin: 0;
    padding: 0
}

.side-bar--opened:after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s
}

.side-bar-item {
    list-style-type: none;
    border-bottom: 1px solid #f5f5f5;
    padding: 15px 0;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    list-style-image: none
}

.side-bar-item__title {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    position: relative
}

@media (min-width: 0) and (max-width: 767px) {
    .side-bar-item__title {
        padding-right: 20px
    }
}

.side-bar-item__title:hover {
    color: #288348
}

@media (min-width: 0) and (max-width: 767px) {
    .side-bar-item__title:hover {
        color: #000
    }
}

@media (min-width: 0) and (max-width: 767px) {
    .side-bar-item__title:after {
        content: "";
        background-image: url(../img/about/chevron.svg);
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        bottom: 0;
        -webkit-transition-duration: .2s;
        -o-transition-duration: .2s;
        transition-duration: .2s;
        width: 15px;
        height: 15px
    }
}

.side-bar-item--active .side-bar-item__title {
    color: #a41415
}

.side-bar-item:last-child {
    border: none
}

.side-bar-content {
    font-family: Open Sans;
    vertical-align: top;
    padding: 22px 0 0;
    display: none;
    right: 0;
    top: 0;
    width: 840px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width: 1280px) and (max-width: 1919px) {
    .side-bar-content {
        width: 730px
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .side-bar-content {
        width: 560px
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .side-bar-content {
        width: 400px
    }
}

@media (min-width: 0) and (max-width: 767px) {
    .side-bar-content {
        overflow: hidden;
        display: block;
        height: 0;
        width: 100%;
        padding: 0
    }
}

.side-bar-content--active {
    display: block
}

.side-bar-content-list {
    margin: 0;
    padding: 0
}

.side-bar-content-item {
    list-style-type: none;
    padding: 15px 0;
    display: none
}

.side-bar-content-item--active {
    display: block
}

.side-bar-content__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #288348;
    margin: 0 0 50px
}

@media (min-width: 0) and (max-width: 767px) {
    .side-bar-content__title {
        display: none
    }
}

.side-bar-content-desc {
    margin-bottom: 30px
}

@media (min-width: 0) and (max-width: 767px) {
    .side-bar-content-desc {
        margin-top: 25px
    }
}

.side-bar-content-desc__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #4f4f50;
    margin: 0 0 13px
}

.side-bar-content-desc__desc {
    font-size: 14px;
    line-height: 25px;
    color: #4f4f50;
    margin: 0
}

.side-bar-content-list {
    list-style: none;
    margin-bottom: 35px
}

.side-bar-content-list__item {
    font-size: 14px;
    line-height: 25px;
    color: #4f4f50;
    margin: 0 0 5px;
    padding-left: 19px;
    position: relative
}

.side-bar-content-list__item:before {
    content: "";
    display: block;
    position: absolute;
    background: #a41415;
    width: 8px;
    height: 8px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.side-bar-content-teachers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 10px
}

.side-bar-content-teachers-item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 180px;
    height: auto;
    margin-right: 40px;
    margin-bottom: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width: 1440px) {
    .side-bar-content-teachers-item {

        width: 180px;
        height: auto;
        margin-right: 40px;
        margin-bottom: 40px;
    }
}
@media (min-width: 1280px) {
    .side-bar-content-teachers-item {

        width: 21%;
        height: auto;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width: 0) and (max-width: 767px) {
    .side-bar-content-teachers-item {
        width: 125px;
        margin-right: 20px
    }
}

.side-bar-content-teachers-item:nth-child(8n-1) {
    margin-right: 0
}

@media (min-width: 1280px) and (max-width: 1919px) {
    .side-bar-content-teachers-item:nth-child(8n-1) {
        margin-right: 40px
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .side-bar-content-teachers-item:nth-child(8n-1) {
        margin-right: 40px
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .side-bar-content-teachers-item:nth-child(4n-1) {
        margin-right: 0
    }
}

@media (min-width: 0) and (max-width: 767px) {
    .side-bar-content-teachers-item:nth-child(4n-1) {
        margin-right: 0
    }
}

.side-bar-content-teachers-item__photo {
    width: 100%;
    height: 226px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 16px
}

@media (min-width: 0) and (max-width: 767px) {
    .side-bar-content-teachers-item__photo {
        height: 157px
    }
}

.side-bar-content-teachers-item__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #4f4f50;
    margin-bottom: 7px;
    width: 120px
}

.side-bar-content-teachers-item__position {
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #4f4f50
}

@media (min-width: 0) and (max-width: 767px) {
    .side-bar-content-teachers-item__position {
        font-weight: 400
    }
}

.side-bar-content-teachers-item__more {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: .1em;
    color: #4f4f50;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #4f4f50;
    cursor: pointer
}

.side-bar-content-teachers-item__more:hover {
    color: #288348;
    border-bottom: 1px solid #288348
}

@media (min-width: 0) and (max-width: 767px) {
    .side-bar-content-teachers--jr .side-bar-content-teachers-item:nth-child(n+4) {
        display: none
    }
}

.side-bar-content-links {
    margin-bottom: 35px
}

.side-bar-content-links__item {
    font-size: 14px;
    line-height: 25px;
    color: rgba(79, 79, 80, .75);
    text-decoration: none;
    display: block;
    margin: 0 0 8px
}

.side-bar-content-links__item, .side-bar-content-links__item:hover {
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s
}

.side-bar-content-links__item:hover {
    color: #288348
}

.side-bar-content-accordion {
    margin-bottom: 10px
}

.side-bar-content-accordion__title {
    font-size: 14px;
    line-height: 25px;
    color: #4f4f50;
    margin: 0 0 20px;
    padding-bottom: 8px;
    display: block;
    border-bottom: 1px solid #f5f5f5;
    cursor: pointer;
    position: relative;
    -webkit-transition: border-bottom .6s;
    -o-transition: border-bottom .6s;
    transition: border-bottom .6s
}

.side-bar-content-accordion__title:after {
    content: "";
    background-image: url(../../assets/img/about/chevron.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
    width: 15px;
    height: 15px
}

.side-bar-content-accordion__title:hover:after {
    background-image: url(../../assets/img/about/chevron-dark.svg)
}

.side-bar-content-accordion__title--active {
    -webkit-transition-duration: .6s;
    -o-transition-duration: .6s;
    transition-duration: .6s
}

.side-bar-content-accordion__title--active:after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s
}

.side-bar-content-accordion__content-text {
    height: 0;
    overflow: hidden;
    padding-left: 24px
}

.side-bar-content-accordion__content-text--active .side-bar-content-images {
    padding-bottom: 20px
}

.side-bar-content-accordion__content-photo {
    height: 0;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.side-bar-content-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media (min-width: 0) and (max-width: 767px) {
    .side-bar-content-images {
        height: 190px;
        display: none
    }
}

.side-bar-content-images--slider {
    display: none
}

@media (min-width: 0) and (max-width: 767px) {
    .side-bar-content-images--slider {
        display: block !important
    }
}

.side-bar-content-images__item {
    width: 250px;
    height: 167px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-right: 30px;
    margin-bottom: 30px;
    cursor: pointer
}

@media (min-width: 768px) and (max-width: 1023px) {
    .side-bar-content-images__item {
        width: 180px;
        height: 120px;
        margin-right: 40px;
        margin-bottom: 40px
    }
}

@media (min-width: 0) and (max-width: 767px) {
    .side-bar-content-images__item {
        width: 270px;
        height: 180px;
        padding: 0 5px;
        margin-bottom: 0
    }
}

.side-bar-content-images__item:nth-child(3n) {
    margin-right: 0
}

@media (min-width: 1280px) and (max-width: 1919px) {
    .side-bar-content-images__item:nth-child(3n) {
        margin-right: 30px
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .side-bar-content-images__item:nth-child(3n) {
        margin-right: 30px
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .side-bar-content-images__item:nth-child(3n) {
        margin-right: 40px
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .side-bar-content-images__item:nth-child(2n) {
        margin-right: 0
    }
}

.side-bar-content-images .slick-dots li {
    width: 10px;
    height: 10px;
    background: #4f4f50;
    opacity: .2;
    cursor: pointer
}

.side-bar-content-images .slick-dots .slick-active {
    background: #a41415;
    opacity: 1
}

.side-bar-content-images .slick-dots button {
    visibility: hidden
}

.side-bar-content-social {
    width: 180px;
    background-color: #fff;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width: 1023px) and (min-width: 768px) {
    .side-bar-content-social {
        width: 150px
    }
}

.side-bar-content-social__button {
    height: 20px;
    width: 20px;
    margin-right: 20px
}

.side-bar-content-social__button_vk {
    background-image: url(../img/VK.png)
}

.side-bar-content-social__button_vk, .side-bar-content-social__button_vk:hover {
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s
}

.side-bar-content-social__button_vk:hover {
    background-image: url(../img/VKHover.png)
}

.side-bar-content-social__button_fb {
    background-image: url(../img/Facebook.png)
}

.side-bar-content-social__button_fb, .side-bar-content-social__button_fb:hover {
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s
}

.side-bar-content-social__button_fb:hover {
    background-image: url(../img/FacebookHover.png)
}

.side-bar-content-social__button_inst {
    background-image: url(../img/Instagram.png)
}

.side-bar-content-social__button_inst, .side-bar-content-social__button_inst:hover {
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s
}

.side-bar-content-social__button_inst:hover {
    background-image: url(../img/InstagramHover.png)
}

.popup {
    z-index: 1000000000;
    font-family: Open Sans
}

@media (min-width: 0) and (max-width: 767px) {
    .popup--teacher {
        overflow-x: hidden;
        padding: 90px 10px 70px
    }
}

@media (min-width: 0) and (max-width: 767px) {
    .popup--teacher .popup__close {
        width: 20px;
        height: 20px;
        top: -30px;
        right: -10px
    }
}

@media (min-width: 0) and (max-width: 767px) {
    .popup--teacher .popup__close:after, .popup--teacher .popup__close:before {
        position: fixed;
        left: unset;
        right: 20px;
        content: " ";
        height: 20px;
        width: 2px;
        background-color: #fff
    }
}

.popup--teacher .popup__content {
    max-width: 864px;
    padding: 70px 70px 42px
}

@media (min-width: 0) and (max-width: 767px) {
    .popup--teacher .popup__content {
        padding: 40px 25px 20px 10px
    }
}

.popup-teacher__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 50px
}

@media (min-width: 0) and (max-width: 767px) {
    .popup-teacher__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.popup-teacher__photo {
    width: 150px;
    height: 189px;
    -o-object-fit: cover;
    object-fit: cover
}

.popup-teacher__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin: 0 0 7px;
    color: #4f4f50
}

@media (min-width: 0) and (max-width: 767px) {
    .popup-teacher__name {
        text-align: center
    }
}

.popup-teacher__position {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 25px;
    color: #4f4f50
}

@media (min-width: 0) and (max-width: 767px) {
    .popup-teacher__position {
        text-align: center
    }
}

.popup-teacher__name-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 30px
}

@media (min-width: 0) and (max-width: 767px) {
    .popup-teacher__name-wrap {
        margin-left: 0
    }
}

.popup-teacher-years-item:last-child {
    border-left: 2px solid transparent
}

.popup-teacher-years-item {
    border-left: 2px solid #288348;
    position: relative;
    padding: 17px 0 30px 26px
}

.popup-teacher-years-item:before {
    content: "";
    width: 10px;
    height: 10px;
    background: #288348;
    position: absolute;
    left: -6px;
    top: -6px;
    border-radius: 50%
}

.popup-teacher-years-item__year {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #288348;
    position: absolute;
    top: -18px;
    left: 26px
}

.popup-teacher-years-item__desc {
    font-size: 14px;
    line-height: 25px;
    color: #4f4f50;
    margin: 0
}

.popup-teacher__desc {
    font-size: 14px;
    line-height: 25px;
    color: #4f4f50;
    margin: 0 0 31px
}

.popup-teacher-awards {
    list-style: none;
    margin: 0 0 35px;
    padding: 0
}

.popup-teacher-awards:before {
    content: "Награды";
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
    color: #288348
}

.popup-teacher-awards__item {
    font-size: 14px;
    line-height: 25px;
    color: #4f4f50;
    margin: 0 0 20px;
    padding-left: 26px;
    position: relative
}

.popup-teacher-awards__item:before {
    content: "";
    display: block;
    position: absolute;
    background: #a41415;
    width: 8px;
    height: 8px;
    left: -3px;
    top: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.popup--photo .popup__content {
    padding: 0;
    max-width: unset;
    width: 920px !important;
    height: 616px !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .popup--photo .popup__content {
        width: 778px !important;
        height: 521px !important
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .popup--photo .popup__content {
        width: 540px !important;
        height: 362px !important
    }
}

.popup--photo .popup__content .side-bar-content-images__item {
    width: 100%;
    height: 100%
}

.popup--photo .popup__content .slick-prev {
    left: -70px;
    top: 50%;
    width: 40px;
    height: 40px
}

.popup--photo .popup__content .slick-next {
    right: -70px;
    left: unset;
    top: 50%;
    width: 40px;
    height: 40px
}

.popup--photo .popup__content .slick-dots li {
    width: 10px;
    height: 10px;
    background: #f5f5f5;
    opacity: .5;
    cursor: pointer
}

.popup--photo .popup__content .slick-dots .slick-active {
    background: #a41415;
    opacity: 1
}

.popup--photo .popup__content .slick-dots button {
    visibility: hidden
}

@media (min-width: 0) and (max-width: 767px) {
    #side-bar-main-content {
        display: none
    }
}

.show-more-teachers {
    display: none
}

@media (min-width: 0) and (max-width: 767px) {
    .show-more-teachers {
        display: block
    }
}

@media (min-width: 0) and (max-width: 767px) {
    .side-bar-item__block {
        width: 100%;
        height: 20px
    }
}
