.about {
  padding-top: 93px;
  @media (max-width: 1600px) {
    padding-top: 94px;
  }
  @media (max-width: 767px) {
    padding-bottom: 34px;
    padding-top: 49px;
  }
  &-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 55px;
    &_item {
      text-align: center;
      max-width: 355px;
      margin: 0 auto;
      @media (max-width: 1600px) {
        max-width: 322px;
      }
      @media (max-width: 1200px) {
        max-width: 284px;
      }
      @media (max-width: 991px) {
        max-width: 166px;
      }
      @media (max-width: 767px) {
        max-width: 240px;
      }
      &__icon {
        height: 68px;
        @media (max-width: 1600px) {
          height: 60px;
        }
        img {
          max-height: 100%;
          margin: 0 auto;
        }
      }
      &__title {
        margin: 30px 0;
        @media (max-width: 1600px) {
          margin: 0 0 20px;
        }
        @media (max-width: 991px) {
          @media (min-width: 768px) {
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        @media (max-width: 767px) {
          margin: 0 0 10px;
        }
      }
      &__description {
        @media (max-width: 1200px) {
          max-width: 221px;
          margin: 0 auto;
        }
        @media (max-width: 767px) {
          max-width: 100%;
        }
      }
    }
  }
}