.begin-courses {
  padding-top: 65px;
  padding-bottom: 100px;
  @media (max-width: 1200px) {
    padding-top: 81px;
  }
  @media (max-width: 991px) {
    padding-top: 90px;
  }
  @media (max-width: 767px) {
    padding-top: 34px;
    padding-bottom: 79px;
  }
  &-cards {
    padding-top: 55px;
    display: flex;
    flex-wrap: wrap;
    &_item {
      @media (max-width: 767px) {
        text-align: center;
      }
      &__img {
        height: 250px;
        max-width: 100%;
        @media (max-width: 1600px) {
          height: 159px;
        }
        @media (max-width: 1200px) {
          height: 165px;
        }
        @media (max-width: 991px) {
          height: 122px;
        }
        @media (max-width: 767px) {
          height: 145px;
        }
        img {
          margin: 0 auto;
          max-height: 100%;
          max-width: 100%;
        }
      }
      &__title {
        margin: 15px 0;
        @media (max-width: 991px) {
          margin: 13px 0 20px;
          @media (min-width: 768px) {
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        @media (max-width: 767px) {
          margin: 0 0 10px;
        }
      }
      &__date {
        font-weight: 700;
        margin: 0 0 15px;
        @media (max-width: 1600px) {
          margin: 0 0 10px;
        }
        @media (max-width: 991px) {
          margin: 0 0 18px;
        }
        @media (max-width: 767px) {
          margin: 0 0 10px;
        }
      }
      &__description {
        height: 93px;
        overflow: hidden;
        @media (max-width: 991px) {
          height: 145px;
        }
        @media (max-width: 767px) {
          height: 138px;
        }
      }
      &__more {
        display: block;
        text-decoration: underline;
        font-size: 14px;
        color: @grey;
        margin-top: 15px;
        @media (max-width: 1600px) {
          margin-top: 10px;
          font-size: 12px;
        }
        @media (max-width: 991px) {
          margin-top: 31px;
        }
        @media (max-width: 767px) {
          margin-top: 10px;
        }
        &:hover {
          color: @green;
        }
      }
    }
  }
}