.main-block {
  overflow: hidden;
  position: relative;
  &_slider {
    height: 100%;
    width: 100%;
    &__img {
      height: 923px;
      background-position: left center;
      background-size: cover;
      background-repeat: no-repeat;
      @media (max-width: 1600px) {
        height: 720px;
      }
      @media (max-width: 1400px) {
        height: 687px;
      }
      @media (max-width: 991px) {
        height: 943px;
      }
      @media (max-width: 767px) {
        height: 568px;
      }
    }
    &__prev {
      left: 43px;
      transform: translate( 0, -50%);
      @media (max-width: 1200px) {
        left: 20px;
      }
      @media (max-width: 991px) {
        left: 43px;
      }
      @media (max-width: 767px) {
        left: 13px;
      }
    }
    &__next {
      right: 43px;
      transform: translate(-50%, 0) rotate(180deg);
      @media (max-width: 1200px) {
        right: 20px;
      }
      @media (max-width: 991px) {
        right: 43px;
      }
      @media (max-width: 767px) {
        right: 13px;
      }
    }
    .slick-arrow {
      z-index: 50;
      position: absolute;
      top: 50%;
      background-color: transparent;
      background-image: url("../img/main-slider-arrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      border: none;
      width: 18px;
      height: 46px;
      @media (max-width: 767px) {
        width: 7px;
        height: 18px;
      }
    }
  }

  &_info {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    & > .opacity-bg {
      width: 100%;
      height: 100%;
      background: @grey;
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
    & > .info_container {
      position: relative;
      @media (max-width: 991px) {
        @media (min-width: 767px) {
          padding: 0 23px;
        }
      }
      @media (max-width: 767px) {
        padding: 0;
      }
    }

    &__title {
      font-weight: bold;
      font-size: 85px;
      margin-bottom: 10px;
      @media (max-width: 1600px) {
        font-size: 72px;
      }
      @media (max-width: 1400px) {
        font-size: 64px;
      }
      @media (max-width: 991px) {
        font-size: 56px;
      }
      @media (max-width: 767px) {
        font-size: 28px;
      }
    }
    &__subtitle {
      font-size: 40px;
      width: 80%;
      margin: 0 auto;
      @media (max-width: 1600px) {
        font-size: 36px;
      }
      @media (max-width: 1400px) {
        font-size: 30px;
      }
      @media (max-width: 991px) {
        font-size: 26px;
      }
      @media (max-width: 767px) {
        font-size: 16px;
        padding: 0 10%;
      }
    }
    &__text {
      font-size: 20px;
      line-height: 152%;
    }

    &__courses {
      margin-top: 61px;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 31px;
      @media (max-width: 991px) {
        margin-top: 57px;
      }
      @media (max-width: 767px) {
        margin-top: 30px;
        margin-bottom: 10px;
      }

      .course_widget {
        margin-bottom: 20px;
        a {
          color: inherit;
          text-decoration: none;
        }
        &__icon {
          height: 110px;
          width: 100%;
          margin-bottom: 28px;
          position: relative;
          z-index: 100;

          img {
            max-height: 100%;
            max-width: 100%;
          }

          @media (min-width: 1080px) {
            height: 160px;
            width: 160px;
            background: transparent;
            margin: 14px auto;
            border-radius: 100%;
            line-height: 160px;

          }
          @media (max-width: 1400px) {
            height: 90px;
            width: 90px;
            line-height: 90px;
            margin-bottom: 21px;

            img {
              max-width: 90%;
              max-height: 90%;
            }
          }
          @media (max-width: 1400px) {
            margin: 21px auto auto auto;
          }
          @media (max-width: 991px) {
            height: 122px;
            width: 100%;
          }
          @media (max-width: 767px) {
            height: 60px;
            margin-bottom: 20px;
          }

        }
        &__title {
          font-size: 18px;
          font-weight: 800;
          @media (max-width: 767px) {
            font-size: 10px;
          }
        }
        .circle {
          height: 160px;
          width: 160px;
          top: 20px;
          left: 75px;
          position: absolute;
          z-index: 1;
        }
        @media (max-width: 1024px) {
          .circle {
            height: 100px;
            width: 100px;
            top: 20px;
            left: 57px;
          }
        }
        @media (max-width: 768px) {
          .circle {
            height: 120px;
            width: 120px;
            top: 10px;
            left: 85px;
          }
        }
        @media (max-width: 600px) {
          .circle {
            height: 100px;
            width: 100px;
            top: 16px;
            left: 50px;
          }
        }
        a:hover {
          .circle {
            height: 160px;
            width: 160px;
            top: 20px;
            left: 75px;
          }
          @media (max-width: 1400px) {
            .circle {
              height: 100px;
              width: 100px;
              top: 12px;
              left: 80px;
            }
          }
          @media (max-width: 1024px) {
            .circle {
              height: 100px;
              width: 100px;
              top: 20px;
              left: 57px;
            }
          }
        }
      }
    }
  }
}

.main-block_info {

  &.main-page {
    text-align: center;
  }
}
