.chess-club-page {
  .teacher-list {
    margin-top: 40px;
    @media (max-width: 1600px) {
      margin-top: 55px;
      max-width: 859px;
    }
    @media (max-width: 1400px) {
      max-width: 779px;
    }
    @media (max-width: 991px) {
      max-width: 600px;
    }
    @media (max-width: 767px) {
      margin-top: 48px;
    }
    .teacher-list_person {
      @media (max-width: 767px) {
        text-align: center;
        margin-bottom: 0;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
      }
      .teacher-list_person__name {
        @media (max-width: 767px) {
          margin: 20px 0;
        }
      }
      .teacher-list_person__description {
        @media (max-width: 1600px) {
          @media (min-width: 1400px) {
            font-size: 14px;
          }
        }
        @media (max-width: 767px) {
          display: block;
        }
      }
      .teacher-list_person__more {
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
  }

  &.main-block_info {
    padding-bottom: 175px;
    @media (max-width: 1600px) {
      padding-bottom: 109px;
    }
    @media (max-width: 1400px) {
     padding-bottom: 28px;
    }
    @media (max-width: 991px) {
     padding-bottom: 105px;
    }
    @media (max-width: 767px) {
      padding-bottom: 42px;
    }
  }
  .courses {
    width: 100%;
    position: relative;

    top: -175px;
    @media (max-width: 1600px) {
      top: -109px;
    }
    @media (max-width: 1400px) {
      top: -28px;
    }
    @media (max-width: 991px) {
      top: -105px;
    }
    @media (max-width: 767px) {
      top: -42px;
    }
    &_container {
      margin: 0 auto;
      background: #FFFFFF;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
      max-width: 816px;
      min-height: 349px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 93px 78px 93px 93px;
      @media (max-width: 991px) {
        max-width: 600px;
        min-height: 210px;
        padding: 37px 17px 37px 37px;
      }
      @media (max-width: 767px) {
        max-width: 222px;
        min-height: 264px;
        padding: 20px 5px 20px 20px;
      }
    }
    &_card {
      width: 300px;
      min-height: 163px;
      background: #F2F2F2;
      padding: 16px 21px 28px 27px;
      @media (max-width: 991px) {
        width: 248px;
        min-height: 135px;
        padding: 20px 15px 0 20px;
      }
      @media (max-width: 767px) {
        width: 182px;
        min-height: 102px;
        padding: 10px 14px;
        .course-description_blocks_item__icon {
          width: 56px;
          height: 56px;
        }
        .course-description_blocks_item__title {
          margin-top: 6px;
          font-size: 12px;
          line-height: 181.68%;
        }
      }
    }
  }
  &.under-block {
    .about {
      margin-top: -175px;
      @media (max-width: 1600px) {
        margin-top: -108px;
      }
      @media (max-width: 1400px) {
        margin-top: -50px;
      }
      @media (max-width: 991px) {
        margin-top: -127px;
      }
      @media (max-width: 767px) {
        margin-top: -54px;
      }
    }
  }
  &.championship {
    .about {
      padding-top: 58px;
      padding-bottom: 81px;
      @media (max-width: 1600px) {
        padding-bottom: 78px;
      }
      @media (max-width: 1400px) {
        padding-bottom: 100px;
      }
      @media (max-width: 767px) {
        padding-bottom: 63px;
      }
    }
  }
}
