.children-page {

  &.main-block_info {
    padding-bottom: 230px;
    @media (max-width: 1600px) {
      padding-bottom: 109px;
    }
    @media (max-width: 1400px) {
      padding-bottom: 28px;
    }
    @media (max-width: 991px) {
      padding-bottom: 293px;
    }
  }

  & > .about {
    margin-top: -230px;
    @media (max-width: 1600px) {
      margin-top: -109px;
      padding-top: 74px;
    }
    @media (max-width: 1400px) {
      margin-top: -28px;
    }
    @media (max-width: 991px) {
      margin-top: -293px;
    }
    @media (max-width: 767px) {
      text-align: center;
      margin-top: -41px;
    }
  }
}