.contacts {
  padding-top: 100px;
  @media (max-width: 767px) {
    padding-top: 41px;
  }
  &_info {
    padding: 55px 260px 0;
    @media (max-width: 1400px) {
      padding: 55px 130px 0;
    }
    @media (max-width: 1200px) {
      padding: 55px 61px 0;
    }
    @media (max-width: 991px) {
      padding: 55px 0 0;
    }
    @media (max-width: 767px) {
      padding: 26px 0 0;
    }
  }
  &_links {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
      justify-content: center;
      text-align: center;
    }
    .title {
      font-weight: 600;
      color: #4F4F50;
      padding-bottom: 5px;
    }
    &__item {
      display: block;
      font-size: 16px;
      line-height: 211.18%;
      color: @grey;
      font-weight: 600;
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
    a:hover {
      color: @green;
      text-decoration: none;
    }
    .contact-social-block {
      @media (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 27px;
      }
    }
    &-social {
      margin-top: 26px;
      @media (max-width: 767px) {
        margin-top: 20px;
      }
      &_item {
        display: inline-block;
        margin-right: 15px;
        & > .icon {
          display: block;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
        & > .icon-kids {
          display: block;
          width: 69px;
          height: 20px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
        & > .fb {
          background-image: url('../img/icons/fb.svg');
        }
        & > .vk {
          background-image: url('../img/icons/vk.svg');
        }
        & > .inst {
          background-image: url('../img/icons/inst.svg');
        }
        & > .fb-kids {
          background-image: url('../img/icons/fb-kids.svg');
          &:hover {
            //background-image: url('../img/icons/fb-kids-green.png');
          }
        }
        & > .vk-kids {
          background-image: url('../img/icons/vk-kids.svg');
        }
        & > .inst-kids {
          background-image: url('../img/icons/inst-kids.svg');
        }
      }
    }
  }
  &_map {
    width: 441px;
    height: 283px;
    margin-left: 15px;
    @media (max-width: 991px) {
      width: 331px;
      margin-left: 0;
    }
    @media (max-width: 767px) {
      width: 100%;
      margin-right: -15px;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}