.main-block_info {
  &.course-page {

    @media (max-width: 767px) {
      text-align: center;
      padding: 0 25px;

    }
    .main-block_info__title {
      max-width: 850px;
      @media (max-width: 1600px) {
        max-width: 962px;
      }
      @media (min-width: 992px) and (max-width: 1440px) {
        height: 230px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        font-size: 66px;
      }
      @media (min-width: 992px) and (max-width: 1280px) {
        height: 200px;
        font-size: 56px;
      }
      @media (max-width: 991px) {
        max-width: 100%;
      }
    }
    .main-block_info__text {
      max-width: 660px;
      margin-top: 23px;
      margin-bottom: 50px;
      font-size: 20px;
      line-height: 152%;
      @media (max-width: 1600px) {
        max-width: 796px;
        margin-top: 28px;
        margin-bottom: 41px;
      }
      @media (max-width: 1400px) {
        margin-top: 42px;
        max-width: 796px;
      }
      @media (max-width: 991px) {
        margin-top: 35px;
        margin-bottom: 39px;
        max-width: 100%;
      }
      @media (max-width: 767px) {
        margin-top: 42px;
        font-size: 12px;
        line-height: 181.68%;
      }
    }
  }
}