.course-description {
  position: relative;
  width: 100%;
  top: -230px;
  @media (max-width: 1600px) {
    top: -109px;
  }
  @media (max-width: 1400px) {
    top: -28px;
  }
  @media (max-width: 991px) {
    top: -293px;
  }
  @media (max-width: 767px) {
    top: -38px;
  }
  &_blocks {
    max-width: 1477px;
    min-height: 460px;
    margin: 0 auto;
    padding: 88px 93px 44px;
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    @media (max-width: 1600px) {
      padding: 28px 44px 14px;
      max-width: 1291px;
      min-height: 340px;
    }
    @media (max-width: 1400px) {
      padding: 15px 15px 8px;
      max-width: 892px;
      min-height: 235px;
    }
    @media (max-width: 991px) {
      max-width: 586px;
      min-height: 586px;
      padding: 47px 47px 6px;
    }
    @media (max-width: 767px) {
      max-width: 189px;
      height: 189px;
      min-height: 189px;
      padding: 19px;
    }
    &_item {
      background: #F2F2F2;
      min-height: 284px;
      padding: 16px 27px 44px;
      margin-bottom: 44px;
      @media (max-width: 1600px) {
        margin-bottom: 14px;
        padding: 16px 21px 34px 27px;
      }
      @media (max-width: 1400px) {
        min-height: 203px;
        margin-bottom: 7px;
        padding: 11px 21px 20px 15px;
      }
      @media (max-width: 991px) {
        min-height: 224px;
        padding: 12px 24px 23px 16px;
        margin-bottom: 41px;
      }
      @media (max-width: 767px) {
        width: 151px;
        min-height: 151px;
        max-height: 151px;
        padding: 19px;
        margin-bottom: 0;
        margin: 0 -15px;
      }
      &__icon {
        width: 77px;
        height: 77px;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        @media (max-width: 1400px) {
          width: 55px;
          height: 55px;
        }
        @media (max-width: 767px) {
          width: 69px;
          height: 69px;
        }
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      &__title {

      }
      &__description {

      }
    }
  }
}
