.to-top {
  margin-top: 100px;
  @media (max-width: 1600px) {
    margin-top: 80px;
  }
  @media (max-width: 991px) {
    margin-top: 98px;
  }
  @media (max-width: 767px) {
    margin-top: 55px;
    margin-bottom: 15px;
  }
  &_arrow {
    display: none;
    @media (max-width: 767px) {
      display: inline;
    }
  }
}
.footer {
  background: #4F4F50;
  padding: 44px 0 48px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;

  @media (max-width: 768px) and (min-width: 420px){
    .container-fluid {
      max-width: 100%;
    }
  }

  @media (max-width: 767px) {
    font-size: 7px;
    line-height: 8px;
    padding: 11px 0;
  }
  &_doc {
    color: #939393;
    a {
      color: inherit;
    }
    @media (max-width: 767px) {
      & > .separator {
        display: none;
      }
      a {
        display: block;
        margin-bottom: 3px;
      }
    }
  }
  &_dev {
    color: #FFFFFF;
    margin-top: 24px;
    @media (max-width: 767px) {
      margin-top: 11px;
    }
    a {
      display: inline-block;
      color: inherit;
      text-decoration: underline;
      background: url("../img/rubius_logo.png") no-repeat center;
      width: 67px;
      height: 24px;
      position: relative;
      top: 3px;
      margin-left: 5px;
    }
  }
  .footer_menu {
    margin-top: 31px;
    margin-bottom: 25px;
    font-size: 16px;
    @media (max-width: 420px) {
      margin-top: 8px;
      margin-bottom: 12px;
    }
    a {
      color: #F2F2F2;
      margin-right: 28px;
      @media (max-width: 1024px) {
        margin-right: 25px;
        font-size: 14px;
      }
      @media (max-width: 768px) {
        margin-right: 17px;
        font-size: 12px;
      }
      @media (max-width: 420px) {
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 8px;
        text-align: center;
        font-size: 7px;
      }
    }
  }
}