.header_padding {
  height: 80px;
  @media (max-width: 767px) {
   height: 60px;
  }
}
.header {
  background: #ffffff;
  min-height: 80px;
  width: 100%;
  color: @grey;
  font-size: 16px;
  position: fixed;
  z-index: 1000;
  @media (max-width: 1400px) {
    font-size: 14px;
  }
  @media (max-width: 1200px) {
    font-size: 12px;
  }
  @media (max-width: 991px) {
    font-size: 16px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.5);
  }
  @media (max-width: 767px) {
    font-size: 12px;
    min-height: 60px;
  }

  &_container {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 991px) {
      max-width: 100%;
      padding: 0 22px;
    }
    @media (max-width: 767px) {
      height: 60px;
      padding: 0 15px;
    }
  }
  &_logo {
    height: 52px;
    max-width: 200px;
    margin-right: 45px;
    margin-top: -8px;
    img {
      max-height: 100%;
    }
    @media (max-width: 1400px) {
      margin-right: 30px;
    }
    @media (max-width: 1200px) {
      margin-right: 15px;
    }
    @media (max-width: 991px) {
      margin-right: 15px;
      height: 40px;
    }
    @media (max-width: 767px) {
      height: 30px;
    }
  }
  &_menu {
    @media (min-width: 992px) {
      display: block!important;
    }
    @media (max-width: 991px) {
      display: none;
    }
    &__mobile {
      display: none;
      width: 100%;
      padding: 10px 0;
      text-align: center;
      background: #ffffff;
    }
    &__item {
      color: @grey;
      margin-right: 30px;
      @media (max-width: 1400px) {
        margin-right: 15px;
      }
      @media (max-width: 1200px) {
        margin-right: 10px;
      }
      @media (max-width: 991px) {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-top: 6px;
      }
      &:hover {
        color: @green;
        text-decoration: none;
      }
      &.active {
        text-decoration: underline;
      }
    }
  }
  &_contacts {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 15px;
    @media (max-width: 991px) {
      display: none;
    }
    &__item {
      color: @grey;
      font-weight: bold;

      @media (max-width: 991px) {
        font-size: 12px;
      }
      &:last-child {
        margin-left: 35px;
        @media (max-width: 1400px) {
          margin-left: 24px;
        }
        @media (max-width: 1200px) {
          margin-left: 10px;
        }
        @media (max-width: 991px) {
          margin-left: 15px;
        }
      }

      &:hover {
        color: @green;
        text-decoration: none;
      }
    }
  }
  &_button {
    @media (min-width: 992px) {
      display: none;
    }
    padding: 0;
    background: transparent;
    border: none;
    outline: 0;
    width: 42px;
    height: 19px;
    position: relative;
    @media (max-width: 767px) {
      width: 20px;
      height: 11px;
    }
    &:hover {
      outline: 0;
    }
    & > .line{
      display: block;
      height: 1px;
      background: @grey;
      position: absolute;
      left: 0;
      right: 0;
      top: 8px;
      width: 42px;
      @media (max-width: 767px) {
        width: 20px;
        top: 5px;
      }
      &.middle.arrow {
        background: transparent;
        &:after {
          transform: rotate(45deg);
        }
        &:before {
          transform: rotate(-45deg);
        }
      }
      &.middle:after, &.middle:before {
        background: @grey;
        content: '';
        display: block;
        width: 25px;
        height: 1px;
        position: absolute;
        top: 0;
        transform: rotate(0deg);
        transition: 0.5s;
        @media (max-width: 767px) {
          top: 5px;
          width: 12px;
        }
      }
      &.middle:after {
        right: 0;
      }
      &.middle:before {
        left: 0;
      }
      &.before, &.after {
        display: block;
        height: 1px;
        background: @grey;
        position: absolute;
        left: 0;
        right: 0;
        width: 42px;
        @media (max-width: 767px) {
          width: 20px;
        }
      }
      &.before {
        top: 0;
      }
      &.after {
        top: 16px;
        @media (max-width: 767px) {
          top: 10px
        }
      }
    }
  }
}
