.it-page {
  &.main-block_info {
    padding-bottom: 298px;
    @media (max-width: 1600px) {
      padding-bottom: 104px;
    }
    @media (max-width: 1400px) {
      padding-bottom: 96px;
    }
    @media (max-width: 991px) {
      padding-bottom: 293px;
    }
    @media (max-width: 767px) {
      padding-bottom: 38px;
    }
  }

  & > .reviews {
    margin-top: -196px;
    @media (max-width: 1600px) {
      margin-top: -4px;
    }
    @media (max-width: 1400px) {
     margin-top: 4px;
    }
    @media (max-width: 991px) {
      margin-top: -193px;
    }
    @media (max-width: 767px) {
      margin-top: 17px;
    }
  }
}

.it-courses {
  &_container {
    position: relative;
    width: 100%;
    top: -298px;
    @media (max-width: 1600px) {
      top: -104px;
    }
    @media (max-width: 1400px) {
      top: -96px;
    }
    @media (max-width: 991px) {
      top: -293px;
    }
    @media (max-width: 767px) {
      top: -38px;
    }
  }
  &-cards {
    margin: 0 auto;
    max-width: 1476px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    padding: 93px 93px 40px 93px;
    @media (max-width: 1600px) {
      max-width: 1208px;
      padding: 100px 100px 35px 100px;
    }
    @media (max-width: 1400px) {
      max-width: 892px;
      padding: 40px 41px;
    }
    @media (max-width: 991px) {
      max-width: 640px;
      padding: 79px 79px 40px;
    }
    @media (max-width: 767px) {
      max-width: 100%;
      margin: 0 15px;
      padding: 34px;
    }
    &_item {
      display: block;
      background: #F2F2F2;
      margin-bottom: 30px;
      padding: 16px 21px 33px 27px;
      min-height: 308px;
      a:not(.it-courses-cards_item__more) {
        text-decoration: none;
      }
      @media (max-width: 1600px) {
        min-height: 316px;
      }
      @media (max-width: 1400px) {
        padding: 18px 26px 13px 18px;
        min-height: 277px;
        margin-bottom: 33px;
      }
      @media (max-width: 991px) {
        padding: 12px 24px 22px 18px;
        min-height: 224px;
        margin-bottom: 30px;
      }
      @media (max-width: 767px) {
        margin-bottom: 34px;
        min-height: 86px;
        display: flex;
        align-items: center;
        padding: 0 14px;
        a:not(.it-courses-cards_item__more) {
          display: flex;
          align-items: center;
        }
      }
      &__icon {
        width: 77px;
        height: 77px;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        @media (max-width: 1400px) {
          width: 55px;
          height: 55px;
        }
        @media (max-width: 767px) {
          min-width: 57px;
          min-height: 57px;
          width: 57px;
          height: 57px;
          margin-right: 13px;
        }
        img {
          max-width: 100%;
          max-height: 100%;
        }

      }
      &__title {
        height: 38px;
        margin-bottom: 11px;
        line-height: 120%;
        overflow: hidden;
        word-break: break-word;
        @media (max-width: 1400px) {
          height: 33px;
        }
        @media (max-width: 991px) {
          font-size: 12px;
        }
        @media (max-width: 767px) {
          height: 100%;
          max-height: 43px;
          margin: 0;
        }
      }
      &__description {
        height: 51px;
        margin-bottom: 49px;
        overflow: hidden;
        @media (max-width: 1600px) {
          height: 73px;
          margin-bottom: 43px;
          font-size: 14px;
        }
        @media (max-width: 1400px) {
          font-size: 12px;
          line-height: 124.68%;
          height: 85px;
          margin-bottom: 5px;
        }
        @media (max-width: 1200px) {
          height: 70px;
          margin-bottom: 43px;
        }
        @media (max-width: 991px) {
          margin-bottom: 0;
          font-size: 11px;
          height: 79px;
        }
        @media (max-width: 767px) {
          display: none;
        }
      }
      &__more {
        font-size: 14px;
        line-height: 124.68%;
        color: @grey;
        text-decoration: underline;
        text-transform: capitalize;
        @media (max-width: 1600px) {
          font-size: 14px;
          line-height: 124.68%;
        }
        @media (max-width: 991px) {
          display: none;
        }
        &:hover {
          color: inherit;
        }
      }
    }
  }
  &_paginator {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 767px) {
      justify-content: space-between;
      margin: 0;
    }
    a:hover {
      text-decoration: none;
      color: @green;
    }
    &_item {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 17px;
      font-size: 20px;
      line-height: 26px;
      @media (max-width: 767px) {
        width: 20px;
        height: 20px;
        font-size: 18px;
        line-height: 25px;
        margin: 0 10px;
      }
    }
    &__arrow {
      background: #F2F2F2;
      transition: 0.3s;
      &:last-child {
        margin-right: 0;
      }
      @media (max-width: 767px) {
        &:first-child {
          margin-left: 0;
        }
      }
      &.next {
        transform: rotate(180deg);
      }
      & > .arrow {
        background-image: url("../img/icons/paginator-arrow.png");
        width: 100%;
        height: 100%;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 8px 16px;
        @media (max-width: 767px) {
          background-position: 7px center;
          background-size: 5px 10px;
        }
      }
      &:hover {
        background: @green;
        & > .arrow {
          filter: brightness(0) invert(100%);
        }
      }
    }
    &__number {
      color: #C8C8C8;
      &.active {
        color: @green;
      }
    }
  }
}
