.partners {
  padding-top: 93px;
  padding-bottom: 20px;
  @media (max-width: 767px) {
    padding-top: 55px;
    padding-bottom: 47px;
  }
  &_carousel {
    margin-top: 55px;
    margin-bottom: 0!important;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .slick-dots {
      bottom: -32px;
    }
  }
  &_logo {
    margin-bottom: 54px;
    height: 81px;
    text-align: center;
    img {
      margin: 0 auto;
    }
    @media (max-width: 1600px) {
      margin-bottom: 39px;
    }
    @media (max-width: 1200px) {
      margin-bottom: 56px;
    }
    @media (max-width: 767px) {
      width: 180px;
      margin: 0 auto 27px;
    }
  }
}