.reviews {
  background: #F5F5F5;
  padding-top: 55px;
  padding-bottom: 79px;
  @media (max-width: 1600px) {
    padding-top: 49px;
  }
  @media (max-width: 767px) {
    padding-top: 41px;
  }
  &-carousel {
    margin: 55px auto 0;
    max-width: 1111px;
    @media (max-width: 1600px) {
      margin: 55px auto 0;
    }
    @media (max-width: 1200px) {
      max-width: 892px;
    }
    @media (max-width: 991px) {
      max-width: 500px;
    }
    @media (max-width: 767px) {
      max-width: 100%;
      margin: 37px auto 0;
    }
    .slick-list {
      padding: 10px 0;
      margin-right: -30px;
      margin-left: -16px;
      @media (max-width: 1400px) {
        margin-right: 15px;
        margin-left: 6px;
      }
      @media (max-width: 1200px) {
        margin-right: 7px;
        margin-left: 3px;
      }
      @media (max-width: 991px) {
        margin-right: 0;
        margin-left: 0;
      }
    }
    .slick-slide {
      padding: 0 19px;
      @media (max-width: 1400px) {
        padding: 0 15px;
      }
      @media (max-width: 1200px) {
        padding: 0 10px;
      }
      @media (max-width: 991px) {
        padding: 0;
      }
    }
    &_item {
      min-height: 100%;
      background: #FFFFFF;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
      padding: 42px 32px;
      width: 345px;
      @media (max-width: 1400px) {
        width: 336px;
      }
      @media (max-width: 1200px) {
        padding: 45px 26px;
        width: 275px;
      }
      @media (max-width: 1023px) {
        padding: 41px 32px;
        width: 352px;
        margin: 0 auto;
      }
      @media (max-width: 767px) {
        padding: 24px 20px;
        width: 224px;
      }
      &_people {
        display: flex;
        margin-bottom: 16px;
        color: @grey;
        &__photo {
          width: 105px;
          height: 99px;
          margin-right: 5px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          @media (max-width: 1200px) {
            width: 87px;
            height: 106px;
            margin-right: 0;
          }
          img {
            max-height: 100%;
          }
        }
        &__name {
          font-size: 18px;
          line-height: 181.68%;
          font-weight: 600;
          margin-bottom: 6px;
          @media (min-width: 992px) {
            padding-right: 30%;
          }
          @media (max-width: 1200px) {
            font-size: 14px;
            line-height: 181.68%;
          }
        }
        &__position {
          font-size: 12px;
          line-height: 181.68%;
          @media (max-width: 1200px) {
            font-size: 10px;
            line-height: 181.68%;
          }
        }
      }
      &_text {
        @media (max-width: 1600px) {
          @media (min-width: 1400px) {
            font-size: 14px;
            line-height: 25px;
          }
        }
      }
      &_course {
        margin-top: 6px;
        color: @green;
        a {
          color: @green!important;
          &:hover {
            color:@green!important;
          }
        }
        @media (max-width: 1200px) {
          margin-top: 30px;
        }
      }
    }
  }
}
