.show-course-page {
  &.main-block_info {
    padding-bottom: 306px;
    @media (max-width: 1600px) {
      padding-bottom: 279px;
    }
    @media (max-width: 1200px) {
      padding-bottom: 237px;
    }
    @media (max-width: 991px) {
      padding-bottom: 327px;
    }
    @media (max-width: 767px) {
      padding-bottom: 42px;
    }
  }
  .about {
    margin-top: -217px;
    @media (max-width: 1200px) {
      margin-top: -177px;
    }
    @media (max-width: 991px) {
      margin-top: -170px;
    }
    @media (max-width: 767px) {
      margin-top: -42px;
    }
  }
  .show-course-description {
    width: 100%;
    position: relative;
    top: -306px;
    @media (max-width: 1600px) {
      top: -279px;
    }
    @media (max-width: 1200px) {
      top: -237px;
    }
    @media (max-width: 991px) {
      top: -327px;
    }
    @media (max-width: 767px) {
      top: -42px;
    }
    &_container {
      margin: 0 auto;
      display: flex;
      background: #FFFFFF;
      max-width: 1072px;
      height: 217px;
      padding: 43px 0 43px 43px;
      @media (max-width: 1200px) {
        max-width: 842px;
        height: 177px;
        padding: 23px 0 23px 23px;
      }
      @media (max-width: 991px) {
        max-width: 560px;
        height: 170px;
      }
      @media (max-width: 767px) {
        padding: 14px 0 14px 14px;
        max-width: 164px;
        height: auto;
        flex-wrap: wrap;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
      }
    }
    &_item {
      background: #F2F2F2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 300px;
      height: 131px;
      padding: 25px 0;
      @media (max-width: 1200px) {
        width: 250px;
      }
      @media (max-width: 991px) {
        width: 155px;
        height: 123px;
        padding: 25px 0 35px;
      }
      @media (max-width: 767px) {
        padding: 27px 0 38px;
        width: 132px;
        height: 136px;
        margin-bottom: 14px;
      }
      &__title {
        font-size: 14px;
        line-height: 181.68%;
        color: @grey;
      }
      &__description {
        font-weight: bold;
        font-size: 25px;
        line-height: 181.68%;
        color: @green;
        @media (max-width: 991px) {
          font-size: 18px;
          line-height: 100%;
        }
        @media (max-width: 767px) {
          font-size: 18px;
          line-height: 181.68%;
        }
      }
    }
  }
}