.english-teacher {
  padding-top: 56px;
  padding-bottom: 37px;
  @media (max-width: 1600px) {
    padding-top: 75px;
    padding-bottom: 94px;
  }
  @media (max-width: 1200px) {
    padding-top: 94px;
  }
  @media (max-width: 767px) {
    padding-top: 41px;
    padding-bottom: 75px;
  }
  &_cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 55px;
    justify-content: center;
    &_item {
      @media (max-width: 767px) {
        max-width: 133px;
        margin: 0 auto ;
        text-align: center;
      }
      &__photo {
        height: 389px;
        overflow: hidden;
        display: flex;
        img {
          max-width: unset;
          height: 100%;
          width: 100%;
          object-fit: cover;
          @media (max-width: 767px) {
            max-height: unset;
            margin: 0 auto;
          }
        }
        @media (max-width: 1400px) {
          height: 310px;
        }
        @media (max-width: 1200px) {
          height: 202px;
        }
        @media (max-width: 991px) {
          height: 158px;
        }
      }
      &__name {
        font-size: 20px;
        line-height: 32px;
        font-weight: 800;
        color: @green;
        margin-top: 25px;
        margin-bottom: 22px;
        @media (min-width: 1401px) {
          padding-right: 20%;
        }
        @media (max-width: 1200px) {
          line-height: 28px;
        }
        @media (max-width: 991px) {
          margin-top: 28px;
          font-size: 16px;
          line-height: 160.18%;
        }
        @media (max-width: 767px) {
          margin-top: 23px;
        }
      }
      &__more {
        cursor: pointer;
        font-size: 14px;
        line-height: 181.68%;
        text-decoration: underline;
        color: @grey;
        text-transform: capitalize;
        @media (max-width: 767px) {
          font-size: 12px;
          line-height: 181.68%;
        }
        &:hover {
          color: inherit;
        }
      }
    }
  }
}


.teacher {
  padding-top: 58px;
  @media (max-width: 1600px) {
    padding-top: 75px;
  }
  @media (max-width: 1400px) {
    padding-top: 94px;
  }
  @media (max-width: 767px) {
    padding-top: 65px;
  }
  &-list {
    margin: 38px auto 0;
    max-width: 1130px;
    @media (max-width: 1600px) {
      margin-top: 35px;
    }
    @media (max-width: 1200px) {
      max-width: 893px;
    }
    @media (max-width: 991px) {
      max-width: 640px;
    }
    @media (max-width: 767px) {
      margin-top: 47px;
      max-width: 100%;
    }
    &_person {
      margin-bottom: 32px;
      @media (max-width: 1200px) {
        margin-bottom: 37px;
      }
      @media (max-width: 767px) {
        width: 163px;
        margin: 0 auto;
      }
      &__photo {
        width: 190px;
        height: 247px;
        margin-right: 15px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        @media (max-width: 1600px) {
          width: 143px;
          height: 184px;
        }
        @media (max-width: 1400px) {
          width: 131px;
          height: 179px;
        }
        @media (max-width: 991px) {
          width: 100px;
          height: 157px;
        }
        @media (max-width: 767px) {
          width: 114px;
          height: 179px;
          margin: 0 auto;
        }
        img {
          height: 100%;
          width: auto;
        }
      }
      &__name {
        font-size: 24px;
        line-height: 160.18%;
        color: @green;
        font-weight: 800;
        margin-bottom: 22px;
        @media (max-width:991px) {
          font-size: 18px;
          line-height: 160.18%;
        }
        @media (max-width: 767px) {
          margin-top: 23px;
        }
      }
      &__description {
        @media (max-width: 767px) {
          display: none;
        }
      }
      &__more {
        display: none;
        @media (max-width: 767px) {
          cursor: pointer;
          display: block;
          text-transform: uppercase;
          color: @grey;
          font-size: 12px;
          line-height: 181.68%;
          letter-spacing: 0.095em;
          text-decoration: underline;
          margin-top: 22px;
        }
      }
    }
  }
}
.teacher.chess-club-page {
  .teacher-list_person {
    margin-bottom: 0;
  }
}
.corporate-english {
  .english-teacher {
    @media (min-width: 1199px) {
      padding-top: 74px;
      padding-bottom: 103px;
    }
  }
}
