.youstudy {
  padding-top: 55px;
  @media (max-width: 1200px) {
    padding-top: 70px;
  }
  @media (max-width: 767px) {
    padding-top: 24px;
  }
  &_blocks {
    padding-top: 36px;
    padding-bottom: 86px;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 991px) {
      padding-bottom: 60px;
    }
    @media (max-width: 767px) {
      padding-bottom: 0;
    }
  }
  &_item {
    text-align: center;
    margin-bottom: 10px;
    @media (max-width: 767px) {
      margin: 0;
    }
    &__icon {
      margin: 0 auto 19px;
      width: 77px;
      height: 77px;
      border-radius: 50%;
      overflow: hidden;
      img {
        max-width: 100%;
        max-height: 100%;
      }
      @media (max-width: 991px) {
        @media (min-width: 768px) {
          margin: 0 auto 17px;
          width: 64px;
          height: 64px;
        }
      }
      @media (max-width: 767px) {
        margin: 0 auto 20px;
      }
    }
    &__description {
      font-size: 16px;
      line-height: 124.68%;
      color: @grey;
      @media (max-width: 991px) {
        @media (min-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }

  &_button {
    width: 310px!important;
    height: 46px!important;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
    @media (max-width: 1200px) {
      margin-bottom: 0;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
}
